body {
    background-image: url('https://wallpaperaccess.com/full/32171.jpg'); 
    background-size: cover;
    color: #fff;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    margin-top: 100px;
  }

  h2 {
    font-size: 48px;
    color: orange;
    text-shadow: 2px 2px #000;
  }

  #contador {
    font-size: 60px;
    margin: 20px;
    color: yellow;
    text-shadow: 3px 3px red;
  }

  button {
    font-size: 32px;
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to bottom, #ff9900, #cc6600);
    color: white;
    box-shadow: 0 4px #999;
    cursor: pointer;
    transition: transform 0.2s;
  }

  button:hover {
    transform: scale(1.1);
  }

  button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }