h2 {
    text-align: center;
    padding: 2px;
    font-size: 3rem;
    
}



.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.25s ease;
    object-fit: cover;
}

.card img:hover {
    transform: scale(1.05);
}