@import url(
    galeria.css
);

body {
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    color: #feda4a;
    font-family: 'Impact', 'Arial Black', sans-serif;
    text-align: center;
    padding: 280px;
}

h1 {
    font-size: 3rem;
    color: #ff4500;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #ffdb00;
}

form {
    margin-top: 40px;
    background: #222;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #ffdb00;
    display: inline-block;
}

input[type="file"] {
    background: #feda4a;
    border: 2px solid #ff4500;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

button {
    background: #ff4500;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #ff4500, 0 0 20px #feda4a;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff4500, 0 0 30px #feda4a;
}